body {
	background-color: white;
}

h1 {
	font-family: verdana;
	font-size:  16px;
	color: blue;
	text-align: center;
	border:  1px blue;
	background-color:  #D3D3D3;
	height:  30px;
	border-radius:  10px;
}

h2 {
	font-size:  14px;
	color: white;
	text-align: left;
}

p {
	font-family: verdana;
	font-size: 12px;
}

}



