body {
	background-color: white;
}
.navbar {
		background-color:  blue;
		float: left;
	}

	
	.navbar ul {
		background-color: darkgray;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: visible;
		
	
	}
	  
	ul {
		list-style-type: inline;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background: #333333
	  
	}

	li {
	  float: left;
	}

	li a {
	  display: inline;
	  color: white;
	  text-align: center;
	  padding: 10px 26px;
	  text-decoration: none;
	  font-size:  20px;
	  font-family: Arial, sans-serif;
	}

	li a:hover {
	  background-color: #111111;
	}

	.headerWrapper {
		border-style: solid;
		border-color: black;
		height:  50px;
	}

	</style>
	<div class="headerWrapper">

		<div class="navbar">
		<ul>
		 <li><a class="active" href="index.html">Index</a></li>
		  <li><a href="Portfolio.html">My Vinyl Collection</a></li>
		  <li><a href="Projects.html">Projects </a></li>
h1 {
	font-family: verdana;
	font-size:  16px;
	color: white;
	text-align: center;
	border:  1px blue;
	background-color:  #215EAD;
	height:  30px;
	border-radius:  10px;
}

h2 {
	font-size:  14px;
	color: black;
	text-align: left;
}

p {
	font-family: verdana;
	font-size: 12px;
}
img{
		border: 1px solid blue;
		border-radius: 25px;
		background: #215EAD;
		padding: 20px
	}












